[flake8]
ignore = W504,W601
max-line-length = 119
per-file-ignores =
    tests/*: E712
exclude =
   .git,
   __pycache__,
   *.egg-info,
   .nox,
   .pytest_cache,
   .mypy_cache,
   ./venv,
   .tox/


